<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>

        </title>
    </head>
    <body>
    <div class="flex flex-row h-full">
      <div class="flex-initial w-full">
        <img class="h-full w-full" src="https://img.freepik.com/premium-photo/warm-sweaters-wardrobe-hanger-colored-background_441923-7608.jpg" alt="" srcset="">
      </div>
               <div class="flex-initial w-full">
                <h1 class="text-5xl ml-16 pt-20">Register</h1>
               <div class="w-64 mx-auto mt-10 border-2 border-slate-300    rounded-lg ">
                  <form action="/r" method="post" class="mt-5 mx-6 flex flex-col divide-y-2  divide-slate-300">
                    <div>
                        <label for="" class="px-5 py-3">Name</label>
                        <br>
                       <input class="my-2 pl-3 ml-4 w-40 rounded-md border-2 border-slate-300" type="text" name="Name" id="" placeholder="Type Your Name">
                       <br>
                       <label for="" class="px-5 py-3">Email</label>
                          <br>
                         <input class="my-2 pl-3 ml-4 w-40 rounded-md border-2 border-slate-300" type="email" name="Email" id="" placeholder="Type Your Email">
                         <br>
                         <label for="" class="px-5 py-3">Contact</label>
                          <br>
                         <input class="my-2 pl-3 ml-4 w-40 rounded-md border-2 border-slate-300" type="text" name="Contact" id="" placeholder="Type Your Contact">
                         <br>
                         <label for="" class="px-5 mt-5" >Password </label>
                         <br>
                         <input class="mt-2 ml-4 w-40 pl-3 rounded-md border-2  border-slate-300" type="text" name="Password" placeholder="Type your Password">
                         <br> 
                         <br>
                         <input type="submit" class="mx-2 h-8 w-44 bg-blue-400  rounded-md " value="Register">
                         <br>
                    </div>
                  
                      <div class="mt-5">
                       <p class="mx-24 my-1">Or</p>
                       <a href="/login"> <h1 class="mx-2 h-8 w-44 px-16 bg-blue-400  rounded-md ">Login</h1></a>
                      </div>
                    </form>
               
                    <h1 class="mx-8 mt-1">{{r0}}</h1>
                 </div>
              
                
                </div>
             
             
             
             
                
     
              
        </div>
       
    </body>
</html>